/* {
    background-color: aliceblue;
}*/

* {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.sx-font {
    text-decoration: none;
    font-weight: 300;
}

body {
    /*background-image: url(../img/supernova.jpg);*/
    background-size: cover;
}

ul {
    padding-left: 0px;
}

li {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    margin-bottom: 10px;
    width: auto;
    max-width: 520px;
    font-weight: 300;
    list-style:none;
}

#greeting {
    font-size: 29px;
    color: beige;
    text-shadow: 0 0 0.3em, 0 0 0.9em;;
}

.glow {
    color: beige;
    text-shadow: 0 0 0.6em, 0 0 1.8em;;
    transform: 10s;
}

.glow:hover {
    color: plum;
    color: azure;
    color: aliceblue;
}

.clock {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    margin-bottom: 10px;
    width: auto;
    max-width: 520px;
    font-weight: 300;
}

.box {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 0 auto;
    margin-top: 50px;
    width: auto;
    max-width: 520px;
    font-weight: 300;
    transition: 1.08s;
}

ul {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 0 auto;
    margin-top: 10px;
    width: auto;
    max-width: 520px;
    min-height: 350px;
    max-height: 350px;
    font-weight: 300;
    transition: 1.8888888s;
}

.box:hover {
    border: 1px rgba(235, 235, 255, 0.9) solid;
    background-color: rgba(255, 255, 221, 0.35);
}

.dTodo {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 10px;
    width: auto;
    border: none;
    max-width: 520px;
    min-width: 23px;
    font-weight: 300;
}

.util_line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left {
    margin-left: 575px;
}

.right {
    margin-right: 575px;
}


.todo {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(235, 235, 255, 0.335);
    margin-top: 50px;
    min-height: 420px;
    max-height: 421px;
    max-width: 300px;
    width: 45%;
    font-weight: 300;
    transition: 2s;
}

.we {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(235, 235, 255, 0.335);
    margin-top: 50px;
    min-height: 180px;
    max-height: 180px;
    max-width: 300px;
    width: 45%;
    font-weight: 300;
    transition: 2s;
}

.qe {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(235, 235, 255, 0.335);
    margin-top: 40px;
    min-height: 180px;
    max-height: 180px;
    max-width: 300px;
    width: 45%;
    font-weight: 300;
    transition: 2s;
    position: relative;
    left: /*970px*/51.5%;
    bottom: 260px;
}

.todo:hover {
    border: 1px rgba(235, 235, 255, 0.9) solid;
    background-color: rgba(255, 255, 221, 0.35);
}

.we:hover {
    border: 1px rgba(235, 235, 255, 0.9) solid;
    background-color: rgba(255, 255, 221, 0.35);
}

.qe:hover {
    border: 1px rgba(235, 235, 255, 0.9) solid;
    background-color: rgba(255, 255, 221, 0.35);
}

.hidden {
    display: none;
}

.button {
    min-width: 40px;
    background: linear-gradient(35deg, #ff333f, #f33ff3);  
    border: none;
    box-shadow: 0 6.5px 13.5px -2.5px rgba(50, 50, 93, 0.25), 0 4px 8px -4px rgba(0, 0, 0, 0.3), 0 -3px 8px -2.5px rgba(0, 0, 0, 0.025);
    border-radius: 4px;
    transform: 1s;
    padding: 5px;
}

.pop {
    background: linear-gradient(5ex, #ddddfd, #fff);  
    border: none;
    box-shadow: 0 6.5px 13.5px -2.5px rgba(50, 50, 93, 0.25), 0 4px 8px -4px rgba(0, 0, 0, 0.3), 0 -3px 8px -2.5px rgba(0, 0, 0, 0.025);
    border-radius: 4px;
    transform: 1s;
    padding: 5px;
}

input {
    background-color: white;
    font-weight: 200;
    border: none;
    box-shadow: 0 6.5px 13.5px -2.5px rgba(50, 50, 93, 0.25), 0 4px 8px -4px rgba(0, 0, 0, 0.3), 0 -3px 8px -2.5px rgba(0, 0, 0, 0.025);
    border-radius: 4px;
    transform: 1s;
    padding: 5px;
}

#clock {
    font-weight: 200;
}

/*#quote {
    width: 100%;
    height: 99px; /* footer의 높이 
    position: absolute;  
    bottom: 0;
    left: auto;
}*/

#quote span:nth-child(2) {
    color: #888;
    font-size: 12px;
    font-weight: 100;
}

#quote span:first-child {
    font-size: 18px;
}

#quote span:last-child {
    color: #999;
}


/**
 * Color tinting — with filters
 */

img {
	max-width: 640px;
	transition: 1s filter, 1s -webkit-filter;
	-webkit-filter: sepia() saturate(4) hue-rotate(295deg);
	filter: sepia() saturate(4) hue-rotate(295deg);
}

img:hover,
img:focus {
	-webkit-filter: none;
	filter: none;
}

/*ul {
	display: inline-;
	overflow: auto;
	width: 7.2em;
	height: 9em;
	border: 1px solid silver;
	padding: .3em .5em;
	list-style: none;
	margin-top: 2em;
	font: 100 200%/1.6 'Frutiger LT Std', sans-serif;
	background: linear-gradient(white 10px, hsla(0,0%,100%,0)) 0 0 / 100% 50px,
	            radial-gradient(at top, rgba(0,0,0,.2), transparent 70%) 0 0 / 100% 15px,
	            linear-gradient(to top, white 15px, hsla(0,0%,100%,0)) bottom / 100% 50px,
	            radial-gradient(at bottom, rgba(0,0,0,.2), transparent 70%) bottom / 100% 15px;
	background-repeat: no-repeat;
	background-attachment: local, scroll, local, scroll;
	margin-top: 30px;
}*/